<ion-view view-title="Alarm">
  <ion-content scroll="false" id="alarm">
    <div class="row">
      <div class="col">
        <ionic-timepicker etime="tpslots.epochTime" format="tpslots.format" step="tpslots.step" callback="timePickerCallback">    
          <button id="time-button" class="button button-full button-light">
            {{time}}
          </button>
        </ionic-timepicker>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="item item-input item-select">
          <div class="input-label">
            Sound
          </div>
          <select ng-model="alarm.sound" ng-change="saveSettings()"
                  ng-options="sound.id as sound.name for sound in sounds"> 
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Light program
          </div>
          <select ng-model="alarm.light" ng-change="saveSettings()"
                  ng-options="light.id as light.name for light in lightprograms">
          </select>
        </label>
        <ion-toggle toggle-class="toggle-positive" ng-model="alarm.active" ng-change="saveSettings()">
          Active
        </ion-toggle>
      </div>
    </div>
  </ion-content>
</ion-view>
