<ion-view view-title="Room Control">
  <ion-content scroll="false" id="main-menu">
    <div class="row main-menu-item-row" id="main-menu-item-row-top">
      <div class="col-50 main-menu-item-cell">
        <a class="main-menu-item" id="main-menu-item-music" href="/#/roomcontrol/music">
          <i class="ion-music-note"></i>
        </a>
      </div>
      <div class="col-50 main-menu-item-cell">
        <a class="main-menu-item" id="main-menu-item-light" href="/#/roomcontrol/light">
          <i class="ion-lightbulb"></i>
        </a>
      </div>
    </div>
    <div class="row main-menu-item-row" id="main-menu-item-row-bot">
      <div class="col-50 main-menu-item-cell">
        <a class="main-menu-item" id="main-menu-item-alarm" href="/#/roomcontrol/alarm">
          <i class="ion-android-alarm-clock"></i>
        </a> 
      </div>
      <div class="col-50 main-menu-item-cell">
        <a class="main-menu-item" id="main-menu-item-settings" href="/#/roomcontrol/settings">
          <i class="ion-settings"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
