<ion-view view-title="Light">
  <ion-content scroll="false" id="light">
    <div class="row">
      <div class="col">
      </div>
    </div>
    
    <div class="row center">
      <div class="col">
        <color-wheel selected-color="color">
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="item range range-positive">
          <i class="icon ion-ios-sunny"></i>
          <input type="range" name="intensity" min="0" max="100" ng-model="intensity">
          <i class="icon ion-ios-sunny-outline"></i>
        </div>
        <ion-toggle toggle-class="toggle-positive">Status {{color}}</ion-toggle>
      </div>
    </div>
  </ion-content>
</ion-view>
