<ion-view view-title="Music">
  <ion-content scroll="false" id="music" class="center">
    <div class="row">
      <div class="col">Now playing</div>
    </div>
    
    <div class="row">
      <div class="col"><h3>{{data.currPlaylist}} playlist</h3></div>
    </div>
    
    <div class="row">
      <div class="col">
        <img class="album-cover" ng-src="{{data.track.albumCoverUrl}}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{data.track.artist}} - {{data.track.name}}
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="item range range-positive">
          <i class="icon ion-android-volume-mute"></i>
          <input type="range" name="volume" min="0" max="100" ng-model="data.volume"
            on-release="updateVolume()">
          <i class="icon ion-android-volume-up"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-20">
        <button class="button button-full button-positive" ng-click="previousSong()">
          <i class="ion-skip-backward"></i>
        </button>
      </div>
      <div class="col col-20">
        <button class="button button-full button-positive" ng-click="playPause()">
          <i class="ion-play" ng-show="!data.playStatus"></i>
          <i class="ion-pause" ng-show="data.playStatus"></i>
        </button>
      </div>
      <div class="col col-20">
        <button class="button button-full button-positive" ng-click="previousSong()">
          <i class="ion-skip-forward"></i>
        </button>
      </div>
      <div class="col col-40">
        <button class="button button-full button-positive" ng-click="openModal()">
          Change playlist
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
