<ion-view view-title="Music">
  <ion-content scroll="false" id="music" class="center">
    <div class="row">
      <div class="col">Now playing</div>
    </div>
    
    <div class="row">
        <div class="col"><h3>{{currPlaylist.name}} playlist</h3></div>
    </div>
    
    <div class="row">
      <div class="col">
        <img class="album-cover" src="{{track.albumCoverUrl}}">
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{track.artist}} - {{track.name}}
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="item range range-positive">
          <i class="icon ion-android-volume-mute"></i>
          <input type="range" name="intensity" min="0" max="100" ng-model="intensity">
          <i class="icon ion-android-volume-up"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button button-full button-positive" ng-click="openModal()">
          Change playlist
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
