<ion-view view-title="Settings">
  <ion-content scroll="false" id="settings">
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Server IP</span>
          <input type="text" placeholder="0.0.0.0">
        </label>
        <label class="item item-input">
          <span class="input-label">Client secret</span>
          <input type="text" placeholder="Given by the server">
        </label>
        <label class="item item-input">
          <span class="input-label">Client ID</span>
          <input type="text" value="">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-full button-balanced">
          Link to Spotify
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
