<ion-view view-title="Settings">
  <ion-content scroll="false" id="settings">
    <div class="row">
      <div class="col">
        <form name="form" ng-submit="save(); form.$setPristine()"> 
          <label class="item item-input">
            <span class="input-label">Server IP</span>
            <input type="text" placeholder="xxx.xxx.xxx.xxx"
              ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"
              ng-model="settings.serverip" required>
          </label>
          
          <ion-toggle toggle-class="toggle-positive" ng-model="settings.notify">
            Notify me if someone enters
          </ion-toggle>
          
          <ion-toggle toggle-class="toggle-positive" ng-model="settings.sendpic">
            Send me a picture of the invasor
          </ion-toggle>
  
          <button class="button button-block button-positive" type="submit"
            ng-disabled="form.$pristine || form.$invalid">
            Save
          </button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col center" id="about">
          <p>
            Version 1.0
            <br>
            Built with <i class="ion-heart"></i> by
            <a href="http://miguelfrde.com">miguelfrde</a>
          </p>
      </div>
    </div>
  </ion-content>
</ion-view>
