<ion-view view-title="Settings">
  <ion-content scroll="false" id="settings">
    <div class="row">
      <div class="col">
        <label class="item item-input">
          <span class="input-label">Server IP</span>
          <input type="text" placeholder="0.0.0.0">
        </label>
        <label class="item item-input">
          <span class="input-label">Client secret</span>
          <input type="text" placeholder="Given by the server">
        </label>
        <label class="item item-input">
          <span class="input-label">Client ID</span>
          <input type="text" value="">
        </label>
        <ion-toggle toggle-class="toggle-positive">Notify me if someone enters</ion-toggle>
        <ion-toggle toggle-class="toggle-positive">Send me picture of the invasor</ion-toggle>
      </div>
    </div>
  </ion-content>
</ion-view>
